{% extends 'base.html' %}
{% block content %}
<h1>{{ thread.title }}</h1>
<p>{{ thread.link }}</p>
<p>{{ thread.text }}</p>
<p>Asked by {{ thread.user.username }} on {{ thread.created_at }}</p>
{% if thread.user == user %}
<p><a href="{% url 'thread_update' pk=thread.id %}">Edit thread</a></p>
<p><a href="{% url 'thread_delete' pk=thread.id %}">Delete thread</a></p>
{% endif %}
{% if comments.count > 0 %}
<h3>{{ comments.count }} Comment{{ comments.count|pluralize }}:</h3>
{% endif %}
{% for comment in comments %}
<div class="panel">
  <p>{{ comment.response }}</p>
  <p>Commented by {{ comment.user.username }} on {{ comment.created_at }}</p>
</div>
{% endfor %}
<p><a href="{% url 'comment_create' pk=thread.id %}">Add comment</a></p>
{% endblock %}