{% extends 'base.html' %}
{% block content %}
<h1>{{ thread.title }}</h1>
<p>{{ thread.link }}</p>
<p>{{ thread.text }}</p>
<p>Created by <a href="{% url 'user_detail' slug=thread.user.username %}">{{ thread.user.username }}</a> on {{ thread.created_at }}</p>
{% if thread.user == user %}
<p><a href="{% url 'thread_update' pk=thread.id %}">Edit thread</a></p>
<p><a href="{% url 'thread_delete' pk=thread.id %}">Delete thread</a></p>
{% endif %}
{% if comments.count > 0 %}
<h3>{{ comments.count }} Comment{{ comments.count|pluralize }}:</h3>
{% endif %}
{% for comment in comments %}
<div class="panel">
  <p>{{ comment.response }}</p>
  {% if comment.user == user %}
  <p><a href="{% url 'comment_update' thread_pk=thread.id comment_pk=comment.id %}">Edit comment</a></p>
  <p><a href="{% url 'comment_delete' thread_pk=thread.id comment_pk=comment.id %}">Delete comment</a></p>
  {% endif %}
  <p>Comment by <a href="{% url 'user_detail' slug=comment.user.username %}">{{ comment.user.username }}</a> on {{ comment.created_at }}</p>
<form method="post" action="{% url 'vote' %}">
    <span class="badge">{{ comment.vote_set.all.count }} Vote{{  comment.vote_set.all.count|pluralize }}</span>
    {% csrf_token %}
    <input type="hidden" name="comment" value="{{ comment.id }}" />
    <input type="hidden" name="thread" value="{{ thread.id }}" />
    <input type="hidden" name="user" value="{{ user.id }}" />
    {% if answer in user_votes %}
        <button class="btn btn-link">
          <span class="glyphicon glyphicon-menu-down"></span>
        </button>
    {% else %}
        <button class="btn btn-link">
          <span class="glyphicon glyphicon-menu-up"></span>
        </button>
    {% endif %}
</form>
</div>
{% endfor %}
<p><a href="{% url 'comment_create' pk=thread.id %}">Add comment</a></p>
{% endblock %}